
.mainBody {
  background-color: #8de0ad;
  height: 92vh;
}

.mainHeading {
  padding-top: 5vh;
  color: #32a137;
  font-size: 2.0rem !important;
  font-weight: bold;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.navItems {
  justify-content: space-around;
}
.navbarBrand {
  font-size: 30px;
  text-align: center;
  color: #32a137;
}
.bodyTabs {
  min-width: 740px !important;
}

.tableHeading {
  background-color: #8de0ad;
  color: #32a137;
}
